body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
.header {
    background-color: darkred;
    color: floralwhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px grey;
    line-height: 70px;
    border-radius: 6px;
    height: 75px;
    margin-top: 1em;
    margin-bottom: 1em;
   
}
.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border-bottom: 2px solid  #e9967a;
    border-top: 2px solid #e9967a;
}
li {
    color: black;
}
li a {
    color: black;
}
li a:hover {
    background-color: #e9967a;
}

/* Gridsystemet */

#wrap {
	margin:0% 15%;
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows:300px;
	grid-gap:1em;}

#wrap div {
		padding:1em; }


.div1 {grid-column:1/5;
}
.article1 {grid-column:1/3;
    background:#e9967a;
    border-radius:5px 5px 5px 5px;
   

}
.pic1 {grid-column:3/5;
    color: darksalmon;
    
}
.pic2 { grid-column:1/3;
}
.article2 { grid-column:3/5;
}
.div6 { grid-column:1/3;
}
.div7 { grid-column:3/5;
    background:blue;
}
.div8 { grid-column:1/5;
		height:25px;
        border-radius:0px 0px 10px 10px;}          
img {
    height: 280px;
    border-radius: 5px;
}
