body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: left;
    font-size: 18px;
    margin:0px;
}
h1, h2, figure, figcaption {
    text-align: center;
}
.header {
    background-color: darkseagreen;
    color: rgb(31, 53, 53);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top:20px;
    padding-bottom:20px;
   
}
.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border-bottom: 2px solid  #e9967a;
    border-top: 2px solid #e9967a;
}

.nav li a{
    text-decoration:none;
    
}
.nav li a:hover{
    text-decoration:underline;
    color: white;
    background-color: #e9967a;
    background-size: 50px;

}

li {
    color: black;
}
li a {
    color:rgb(31, 53, 53);
}

/* Gridsystemet */

#wrap {
    margin:0% 15%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    /*grid-auto-rows:300px;*/
    grid-gap:1em;
}

#wrap div, #wrap section, #wrap article {
        padding:1em;
    }

.section1 {grid-column:1/5;
    background: darkseagreen;
    color: darkslategrey;
    border-radius:5px 5px 5px 5px;
}
.article1 {grid-column:1/3;
    color: darkslategrey;
    /*background:#e9967a;*/
    /*border-radius:5px 5px 5px 5px;*/
   

}
.pic1 {grid-column:3/5;
       border-radius:5px 5px 5px 5px;
       color: darksalmon;
    
}
.pic2 {grid-column: 1/3;
    border-radius:5px 5px 5px 5px;

}
.article2 {grid-column: 3/5;
    background: darksalmon;
    color: floralwhite;
    border-radius:5px 5px 5px 5px;
}

.ul2 {
    color: floralwhite;
}
.div6 { grid-column:1/3;
    background:darkseagreen;
    border-radius:0px 0px 0px 25px;
    border:solid black 5px;
}
.div7 { grid-column:3/5;
    background:darkseagreen;
    border: solid black 5px;

}
         
img {
    height: 300px;
    border-radius: 5px;
    padding:0px;
}

figure {
    padding:0px;
    margin:0px;}


footer {
    margin:3em 0px 0px 0px;
    background:darkseagreen;
    text-align:center;
    border-top:solid black 3px;}
